* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: paleturquoise ;
}

.container {
    background-color: orange;
    max-width: 450px;
    min-height: 600px;
    padding: 20px;
    border: 5px brown solid;
    border-radius: 25px;
    margin: 5px;
}

h1{
    margin: 0 0 20px 0;
}

.screen {
    font-family: "Orbitron", sans-serif;
    height: 100px;
    background-color: black;
    color: lawngreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    border: brown 5px solid;
}


.secondary {
    font-size: 25px;
    height: 25px;
}

.primary {
    font-size: 45px;
    height: 45px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 20px 0 0 0;
}

button {
    width:80px;
    height: 80px;
    margin: 5px;
    font-size: 25px;
    border-radius: 10px;
    border: 3px solid;
    border-color: rgb(80, 80, 80) black black rgb(80, 80, 80);
    background-color: rgb(54, 169, 246);
}
button:hover {
    background-color: lightskyblue;
    border-color: black rgb(80, 80, 80) rgb(80, 80, 80) black;
}

header, footer {
    font-size: 20px;
}
