* {
    box-sizing: border-box;
    border: green 2px solid;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    background-color: gray;
    max-width: 450px;
    min-height: 600px;
    padding: 20px;
    border-radius: 25px;
    margin: 50px;
}

h1{
    margin: 0 0 20px 0;
}

.screen {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.secondary {
    font-size: 20px;
}

.primary {
    
    font-size: 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 20px 0 0 0;
}

button {
    width:80px;
    height: 80px;
    margin: 10px;
}
button:hover {
    background-color: gray;
}
